@import "libs/normalize.min.sass"
@import "libs/fonts.sass"
@import "libs/slick.sass"
@import "base/variables.sass"
@import "blocks/texts.sass"
@import "blocks/button.sass"
* 
	margin: 0
	padding: 0
	font-family: Roboto, sans-serif
	box-sizing: border-box
.container
	width: 1140px
	margin: 0px auto
.hamburger
	width: 35px
	height: 21px
	display: flex 
	flex-direction: column
	justify-content: space-between
	cursor: pointer
	span 
		width: 100%
		height: 2px
		background-color: #ffffff
.inf_links
			display: none
@import "blocks/country.sass"
@import "blocks/header.sass"
@import "blocks/promo.sass"
@import "blocks/opportunities.sass"
@import "blocks/solution.sass"
@import "blocks/advantages.sass"
@import "blocks/option.sass"
@import "blocks/contact.sass"
@import "blocks/footer.sass"
@import "blocks/menus.sass"
@import "base/media.sass"