@import "libs/normalize.min.sass"
@import "libs/fonts.sass"
@import "libs/slick.sass"
@import "base/variables.sass"
@import "blocks/texts.sass"
@import "blocks/button.sass"
* 
	margin: 0
	padding: 0
	font-family: Roboto, sans-serif
	box-sizing: border-box
.container
	width: 1140px
	margin: 0px auto
@import "blocks/country.sass"
@import "blocks/header.sass"
@import "blocks/promo.sass"
@import "blocks/opportunities.sass"
@import "blocks/solution.sass"
@import "blocks/advantages.sass"
@import "blocks/option.sass"
@import "blocks/contact.sass"
@import "blocks/footer.sass"
@import "base/media.sass"