@media (max-width: 1199px)
	.container
		width: 960px
	.title 
		font-size: 26px
	.button 
		width: 212px
		height: 53px
		font-size: 14px
	.undertitle
		font-size: 17px
		line-height: 20px
	.country
		min-height: 75px
		padding: 10px 0px 10px 0px
		&__title
			font-size: 13px
			line-height: 15px
		&__undertitle
			font-size: 11px
		&__img
			margin-right: 8px
	.header 
		margin-bottom: 120px
		&__logo 
			img 
				width: 85%
		&__nav
			width: 460px
			ul 
				a 
					font-size: 12px
	.promo 
		.container
			min-height: 600px
			padding: 23px 0px 68px 0px
		&__title
			font-size: 37px
			line-height: 43px
		&__undertitle
			font-size: 22px
			line-height: 25px
			margin: 13px 0px 35px 0px
		&__img
			width: 38%
	.opportunities
		padding: $p_992 0px
		&__item
			padding: 0px 34px 35px 34px
		&__with, &__without
			grid-template: 222px / repeat(3, 306px)
			grid-auto: 222px / 306px
		&__arrows
			margin: 29px 0px 16px 0px
			img 
				width: 13%
		&__title
			font-size: 36.1px
			margin-bottom: 20px
	.solution
		padding: $p_992 0px 40px 0px
		min-height: 825px
		&__navbar
			width: 773px
			height: 55px
			margin: 20px auto 30px auto
			padding: 0px 25px
			a 
				font-size: 13px
			li:not(:last-child)
				padding-right: 25px
		&__slider
			width: 850px
		.slick
			&-slider
				width: 850px
			&-next
				right: -15px
			&-prev
				left: -15px
	.advantages
		padding: $p_992 0px
		&__grid
			margin-top: 30px
			grid-template: repeat(3, 290px) / repeat(2, 480px)
			grid-auto: 290px / 480px
		&__item
			overflow: hidden
			&-title
				font-size: 20px
				height: 140px
				padding: 0px 70px
	.option
		min-height: 545px
		&__title
			top: $p_992
		&__square
			width: 150px
			height: 150px
			bottom: 190px
		&__head
			font-size: 27px
			margin-bottom: 9px
		&__cloud, &__server
			padding-top: 240px
			.undertitle
				font-size: 15px
		&__cloud 
			.option__square
				right: 35px
		&__server
			.option__square
				left: 35px
	.contact
		padding: $p_992 0px
		&__img
			width: 265px
			height: 265px
			padding: 26px
		&__block
			&:nth-child(1)
				height: 200px
			&:nth-child(2)
				width: 200px
		&__title
			margin: 55px 0px 20px 0px
	.footer 
		min-height: 425px
		padding: 32px 0px 22px 0px
		hr 
			margin: 34px 0px 24px 0px
		&__about
			width: 298px
		&__title
			font-size: 14px
			margin-bottom: 8px
		a, &__text
			font-size: 12px
			line-height: 16px
@media (max-width: 991px)
	.container
		width: 720px
	.title 
		font-size: 23px
		line-height: 27px
	.undertitle
		font-size: 14px
		line-height: 18px
	.button 
		width: 185px
		height: 45px
		font-size: 12px
	.country
		padding: 5px 0px
		&__title
			font-size: 11px
		&__undertitle
			font-size: 11px
			line-height: 15px
		&__img
			margin-right: 5px
			img
				width: 22px
	.header 
		margin-bottom: 79px
		&__nav
			width: 400px
			ul 
				a 
					font-size: 11px
	.promo 
		.container
			min-height: 445px
			padding: 12px 0px 50px 0px
		&__title
			font-size: 30px
			line-height: 30px
		&__undertitle
			font-size: 19px
			line-height: 22px
			margin: 8px 0px 29px 0px
	.opportunities
		padding: $p_768 0px
		&__title
			font-size: 25.1px
		&__item
			padding: 0px 22px 22px 22px
		&__with, &__without
			grid-template: 164px / repeat(3, 230px)
			grid-auto: 164px / 230px
	.solution
		padding: $p_768 0px 20px 0px
		min-height: 625px
		&__slider
			height: auto
			width: 650px
		&__navbar
			width: 660px
			padding: 0px 17px 
			margin: 15px auto 30px auto
			a 
				font-size: 12px
			li 
				height: 40px
			li:not(:last-child)
				padding-right: 18px
		.slick 
			&-slider
				width: 650px
			&-next
				right: -5px
			&-prev 
				left: -5px
	.advantages
		padding: $p_768 0px
		&__grid
			margin-top: 20px
			grid-template: repeat(3, 222px) / repeat(2, 360px)
			grid-auto: 222px / 360px
		&__item
			&-title
				font-size: 17px
				height: 115px
				padding: 0px 53px
				line-height: 19px
	.option 
		min-height: 460px
		&__title
			top: $p_768
		&__head
			font-size: 20px
			margin-bottom: 6px
		&__square
			width: 135px
			height: 135px
			bottom: 173px
		&__cloud, &__server
			padding-top: 170px
		&__cloud
			padding-right: 55px
			.option__square
				right: 30px
		&__server
			padding-left: 55px
			.option__square
				left: 30px
	.contact
		padding: $p_768 0px
		&__block
			&:nth-child(1)
				height: 170px
			&:nth-child(2)
				width: 170px
		&__img
			width: 235px
			height: 235px
			padding: 22px
		&__title
			margin: 30px 0px 15px 0px
	.footer 
		min-height: 370px
		padding: 20px 0px 12px 0px
		&__about
			width: 202px
		&__title
			font-size: 13px
			margin-bottom: 5px
		&__logo
			img 
				width: 150px
		a, &__text
			font-size: 11px
			line-height: 16px
		ul 
			li:not(:last-child)
				margin-bottom: 2px
		hr 
			margin: 20px 0px 15px 0px
@media (max-width: 767px)
	.container
		width: 540px
	.undertitle
		font-size: 11px
		line-height: 15px
	.title
		font-size: 20px
		line-height: 21px
	.button 
		width: 152px
		height: 39px
		font-size: 11px
	.country
		display: none
	.header 
		margin-bottom: 58px
		&__addresses
			display: block
		&__nav
			display: flex
			justify-content: space-between
			align-items: center
			width: 270px
			ul 
				display: none
		.hamburger
			display: flex
	.promo 
		&__title
			font-size: 25px
			line-height: 26px
		&__undertitle
			font-size: 16px
			line-height: 17px
			margin: 6px 0px 34px 0px
		.container
			min-height: 364px
			padding: 10px 0px 35px 0px
	.opportunities
		padding: $p_576 0px
		&__title
			font-size: 21.1px
			margin-bottom: 10px
		&__with, &__without
			grid-template: 128px / repeat(3, 172px)
			grid-auto: 128px / 172px
		&__item
			padding: 0px 10px 17px 10px
	.solution
		padding: $p_576 0px 10px 0px
		min-height: 465px
		&__navbar
			width: 500px
			padding: 0px 17px
			margin: 10px auto 20px auto
			height: 42px
			a 
				font-size: 10px
			li 
				height: 30px
			li:not(:last-child)
				padding-right: 10px
		&__slider
			width: 480px
		.slick 
			&-slider
				width: 480px
			&-next, &-prev 
				img
					width: 14px
	.advantages
		padding: $p_576 0px
		&__grid
			margin-top: 15px
			grid-template: repeat(3, 168px) / repeat(2, 270px)
			grid-auto: 168px / 270px
		&__item
			&-title
				font-size: 13px
				height: 85px
				padding: 0px 25px
	.option 
		min-height: 322px
		&__title
			top: $p_576
		&__cloud, &__server
			padding-top: 130px
			.undertitle
				font-size: 11px
		&__cloud
			padding-right: 40px
			.option__square
				right: 20px
		&__server
			padding-left: 40px
			.option__square
				left: 20px
		&__square
			bottom: 95px
			width: 120px
			height: 120px
		&__head
			font-size: 16px
			margin-bottom: 2px
	.contact 
		padding: $p_576 0px
		&__img
			width: 190px
			height: 190px
			padding: 20px
		&__block
			&:nth-child(1)
				height: 125px
			&:nth-child(2)
				width: 125px
		&__title
			margin: 25px 0px 10px 0px
	.footer 
		min-height: 134px
		padding: 15px 0px 8px 0px
		&__head
			align-items: center
			justify-content: space-around
		&__logo
			margin-bottom: 0px
			img 
				width: 135px
		&__title 
			margin-bottom: 0px
			font-size: 14px
			cursor: pointer
		&__under
			font-size: 11px
		&__list 
			display: none
		&__text
			display: none
		&__about
			width: 165px
			.footer__title
				display: none
@media (max-width: 575px)
	.container
		width: 100%
		padding: 0px 15px
	.title 
		font-size: 16px
		line-height: 17px
	.undertitle
		font-size: 12px
		line-height: 15px
	.header 
		margin-bottom: 47px
		&__addresses
			font-size: 13px
		.hamburger
			width: 32px
			height: 18px
	.promo 
		.container
			min-height: 305px
			padding: 10px 10px 20px 10px
		&__title 
			font-size: 20px
			line-height: 21px
		&__undertitle
			font-size: 13px
			line-height: 15px
			margin: 9px 0px 34px 0px
		&__img
			display: none
	.opportunities
		padding: $p_320 0px
		&__with, &__without
			grid-template: repeat(3, 145px) / repeat(1, 230px)
			justify-content: center
			grid-row-gap: 10px
			grid-auto-rows: 142px
		&__item
			padding: 0px 20px 12px 20px
		&__arrows
			margin: 12px 0px 8px 0px
			img 
				width: 28%
		&__title 
			font-size: 19.1px
	.solution
		min-height: 350px
		&__navbar
			width: 285px
			height: 70px
			ul 
				flex-wrap: wrap
				li:not(:last-child)
					padding-right: 0px
					border-right: none
		.slick 
			&-slider
				width: 290px
			&-slide
				width: 290px
			&-prev, &-next
				img 
					width: 10px
			&-prev
				left: 0px
				z-index: 2
			&-next
				right: 0px
	.advantages
		padding: $p_320 0px
		&__grid
			margin-top: 8px
			grid-template: repeat(6, 150px) / repeat(1, 1fr)
			grid-auto-rows: 150px
			grid-row-gap: 10px
		&__item
			&-title
				font-size: 14px
				height: 75px
	.option
		min-height: 322px
		display: flex
		flex-direction: column
		&__title 
			top: $p_320
		&__square
			width: 100px
			height: 100px
		&__cloud, &__server
			padding-top: 0px
			width: 100%
			padding: 80px 40px
			.undertitle
				font-size: 12px
		&__cloud
			.option__square
				bottom: 55px
		&__server
			.option__square
				top: 65px
		&__head
			font-size: 16px
	.contact
		padding: $p_320 0px
		&__img
			width: 150px
			height: 150px
			padding: 15px
		&__block
			&:nth-child(1)
				height: 100px
			&:nth-child(2)
				width: 100px
		&__title 
			margin: 15px 0px 10px 0px
	.footer 
		min-height: 100px
		padding: $p_320 0px 8px 0px
		&__about
			width: 110px
		&__logo 
			img 
				width: 100px
		&__title 
			font-size: 12px
		hr 
			margin: 13px 0px 10px 0px
		&__under
			font-size: 10px
		.inf_links
			padding-bottom: 5px
	.address
		width: 60%
		height: 59%
	.navigation
		width: 63%
		height: 35%
		a 
			font-size: 14px