@media (max-width: 1199px)
	.container
		width: 960px
	.button 
		width: 212px
		height: 53px
		font-size: 14px
	.undertitle
		font-size: 17px
		line-height: 22px
	.country
		min-height: 75px
		padding: 10px 0px 10px 0px
		&__title
			font-size: 13px
			line-height: 15px
		&__undertitle
			font-size: 11px
		&__img
			margin-right: 8px
	.header 
		margin-bottom: 120px
		&__logo 
			img 
				width: 85%
		&__nav
			width: 460px
			ul 
				a 
					font-size: 12px
	.promo 
		.container
			min-height: 600px
			padding: 23px 0px 68px 0px
		&__title
			font-size: 37px
			line-height: 43px
		&__undertitle
			font-size: 22px
			line-height: 25px
			margin: 13px 0px 35px 0px
		&__img
			width: 38%
	.opportunities
		padding: $p_992 0px
		&__item
			padding: 0px 34px 35px 34px
		&__with, &__without
			grid-template: 222px / repeat(3, 306px)
		&__arrows
			margin: 29px 0px 16px 0px
			img 
				width: 13%
		&__title
			font-size: 36.1px
			margin-bottom: 20px
	.solution
		&__slider
			width: 850px
		.slick-slider 
			width: 850px
	.advantages
		&__grid
			grid-template: repeat(3, 290px) / repeat(2, 480px)